# Virtual Env
mlops-venv/

# MLFlow Server
mlruns/

# Notebook Caching
.ipynb_checkpoints
*.nbconvert.ipynb

# ZenML
.zen/

# Local artifacts
artifacts/

# Python cache
__pycache__/
*.py[cod]
*$py.class